body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: #c12424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation: fadeIn 0.5s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
}

button:nth-child(1) { background-color: #ffcccc; }
button:nth-child(2) { background-color: #ffcc99; }
button:nth-child(3) { background-color: #ffff99; }
button:nth-child(4) { background-color: #ccff99; }
button:nth-child(5) { background-color: #99ff99; }
button:nth-child(6) { background-color: #99ffcc; }
button:nth-child(7) { background-color: #99ffff; }
button:nth-child(8) { background-color: #99ccff; }
button:nth-child(9) { background-color: #9999ff; }
button:nth-child(10) { background-color: #cc99ff; }
button:nth-child(11) { background-color: #ff99ff; }
button:nth-child(12) { background-color: #ff99cc; }
button:nth-child(13) { background-color: #ff9999; }
button:nth-child(14) { background-color: #ff9966; }
button:nth-child(15) { background-color: #ff9933; }
button:nth-child(16) { background-color: #ff9900; }

button:hover {
    background-color: #e0e0e0;
}

button:active {
    transform: scale(0.95);
    background-color: #7b2727;
}

/* Fade-in animasyonu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Button tıklama animasyonu */
@keyframes buttonClick {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.95);
    }
}
